.food {
    background-color: darksalmon;
    width: 50px;
    border: solid #000;
}
.button:hover {
    background-color: rgb(70, 226, 43)
}
.food:hover {
    background-color: azure;
}
.list {
    display: none;
}
.menu {
    display: flexbox;
}
.menu:hover .list {
    display: flex;
    flex-direction: column;

}
